<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="/assets/logo.jpg" width="30" height="30"  class="d-inline-block align-top" alt=""/>
    STAND UP FOR AUTISM
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--    <ul class="navbar-nav mr-auto">-->
<!--    </ul>-->
    <ul class="navbar-nav ml-auto">
      <app-dr-sign-up id="drSignUp"></app-dr-sign-up>
      <app-parent-sign-up></app-parent-sign-up>
      <div class="vertical-line"></div>
      <app-sign-in></app-sign-in>
    </ul>

  </div>
</nav>
