<app-dr-navbar></app-dr-navbar>
<div class="container">
  <form (ngSubmit)="submit(form)" #form="ngForm">
    <input type="text" class="form-control" ngModel name="title" placeholder="quiz title" id="quizTitle">
    <div *ngFor="let item of data; let i = index">
      <div>
        <div class="row">
          <div class="col-12">
            <textarea name="question{{i}}" ngModel class="form-control" rows="5" placeholder="Question Body"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <input type="text" name="choice1-{{i}}" ngModel class="form-control" placeholder="Choice A Body">
          </div>
          <div class="col-8">
            <input type="text" name="desc1-{{i}}" ngModel class="form-control" placeholder="Choice A Description">
          </div>
          <div class="col-2">
            <input type="text" name="score1-{{i}}" ngModel class="form-control" placeholder="Choice A Score">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <input type="text" name="choice2-{{i}}" ngModel class="form-control" placeholder="Choice B Body">
          </div>
          <div class="col-8">
            <input type="text" name="desc2-{{i}}" ngModel class="form-control" placeholder="Choice B Description">
          </div>
          <div class="col-2">
            <input type="text" name="score2-{{i}}" ngModel class="form-control" placeholder="Choice B Score">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <input type="text" name="choice3-{{i}}" ngModel class="form-control" placeholder="Choice C Body">
          </div>
          <div class="col-8">
            <input type="text" name="desc3-{{i}}" ngModel class="form-control" placeholder="Choice C Description">
          </div>
          <div class="col-2">
            <input type="text" name="score3-{{i}}" ngModel class="form-control" placeholder="Choice C Score">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <input type="text" name="choice4-{{i}}" ngModel class="form-control" placeholder="Choice D Body">
          </div>
          <div class="col-8">
            <input type="text" name="desc4-{{i}}" ngModel class="form-control" placeholder="Choice D Description">
          </div>
          <div class="col-2">
            <input type="text" name="score4-{{i}}" ngModel class="form-control" placeholder="Choice D Score">
          </div>
        </div>
      </div>
    </div>
    <button type="button" id="addQuestionButton" (click)="addQuestion()" class="btn btn-success">add question</button>
    <br/>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>
