<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#drSignUpModal">
  Dr Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="drSignUpModal" tabindex="-1" role="dialog" aria-labelledby="drSignUpModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="drSignUpModalLabel">Dr Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebtn>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit(form,closebtn)" #form="ngForm">
          <input type="text" ngModel name="dr_first_name" placeholder="First Name" class="form-control">
          <input type="text" ngModel name="dr_last_name" placeholder="Last Name" class="form-control">
          <input type="email" ngModel name="dr_email" placeholder="Email" class="form-control">
          <input type="password" ngModel name="password" placeholder="Password" class="form-control">
          <!--          <input type="password" name="drConfirmPassword" placeholder="confirm password" class="form-control">-->
          <input type="text" ngModel name="job_id" placeholder="Job ID" class="form-control">
          <div id="drSignUpSubmit">
            <button type="submit" class="btn btn-primary">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
