<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#signInModal">
  Sign In
</button>

<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInLabel">Sign in</h5>
        <button type="button" class="close" #close data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="email" #email name="email" placeholder="Email" class="form-control">
        <input type="password" #password name="password" placeholder="Password" class="form-control">
        <h3 *ngIf="error" class="text-danger">error sign in</h3>
        <div class="row">
          <button type="button" class="btn btn-primary"
                  (click)="parentSignIn(email.value.trim(),password.value.trim(),close)"
                  id="parentSignInButton">Sign In as Parent
          </button>
          <button type="button" class="btn btn-primary"
                  (click)="drSignIn(email.value.trim(),password.value.trim(),close)"
                  id="drSignInButton">Sign In as Dr
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
