<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#patientSignUpModal">
  Patient Sign Up
</button>

<!-- Modal -->
<div class="modal fade" id="patientSignUpModal" tabindex="-1" role="dialog" aria-labelledby="patientSignUpModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patientSignUpModalLabel">Patient Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit(form)" #form="ngForm">
          <input type="text" ngModel name="patientFirstName" placeholder="First Name" class="form-control">
          <input type="text" ngModel name="patientLastName" placeholder="Last Name" class="form-control">
          <input type="email" ngModel name="patientEmail" placeholder="Email" class="form-control">
          <input type="password" ngModel name="password" placeholder="Password" class="form-control">
          <input type="password" name="patientConfirmPassword" placeholder="confirm password" class="form-control">
          <div style="width: 100%">
            <button type="submit" class="btn btn-primary" id="patientSignUpSubmit">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
