<app-welcome-bar></app-welcome-bar>
<div class="jumbotron">
  <h1 class="display-4 title-down">Hope and a Clear Path Forward</h1>
  <p class="lead">Machine Learning in medical assessments for early detection can stand up for autism</p>
  <p class="lead">
<!--    <a class="btn btn-primary btn-lg" href="#" role="button">lets Start</a>-->
  </p>
  <div id="down" class="row">
    <div class="col-4" id="first-block">
      <div class="container about-area">
        <h4>Primary care</h4>
        <p class="lead">You can do this test at any time and anywhere you want under precision and high speed and
          supervised by a group of specialist doctors.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="container about-area">
        <h4>Emergency Cases</h4>
        <p class="lead">In case of any defect or inability to understand or answer a specific question you can
          communicate directly with the specialist</p>
      </div>
    </div>
    <div class="col-4">
      <div class="container about-area">
        <h4>Online Appointment</h4>
        <p class="lead">After the initial examination you can book a real appointment with the doctor for advanced
          tests
          and other prescribed treatments
        </p>
      </div>
    </div>
  </div>
</div>
