<div class="container arabic">
  <p>Question:{{showQuestionService.getIdx()}}</p>
  <p class="arabic">{{question.question_body}}</p>

  <div class="radio arabic" *ngFor="let choice of choices;">
    <label on-mouseenter="showDescription(choice.id)" on-mouseleave="hideDescription(choice.id)"
           (click)=" commitQuestion(choice)">
      <input type="radio" name="opt">
      {{choice.title}}
      <span *ngIf="choiceMap.get(choice.id)" class="text-primary">{{choice.description}}</span>
    </label>
  </div>


  <button type="button" class="btn btn-primary" (click)="back()" [disabled]="questionIdx===0">Back</button>
  <button type="button" class="btn btn-primary nextButton" *ngIf="!submitFlag; else submitArea" (click)="next()">Next
  </button>
  <ng-template #submitArea>
    <button type="button" (click)="submitResult()" class="btn btn-primary nextButton">Submit</button>
  </ng-template>
  <h3 *ngIf="seeResult">your score is {{total}}</h3>
</div>
