<div class="container">
  <p>{{question.question_body}}</p>

  <div class="radio" *ngFor="let choice of choices; let i = index">
    <label (click)="commitQuestion(i)">
      <input type="radio" name="opt">
      {{choice.text}}
    </label>
  </div>


  <button type="button" class="btn btn-primary" (click)="back()" [disabled]="questionIdx==0">Back</button>
  <button type="button" class="btn btn-primary nextButton" *ngIf="!submitFlag; else submitArea" (click)="next()">Next
  </button>
  <ng-template #submitArea>
    <button type="button" (click)="submitResult()" class="btn btn-primary nextButton">Submit</button>
  </ng-template>
  <h3 *ngIf="seeResult">your score is {{total}}</h3>
</div>
